<!--<p>
  home works!
</p>

-->

<div class="jumbotron text-center">
  <h1> Project Management</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>RolZ </h3>
    <p>PPPPPPPPPPPPPPPPPPPPPPPPPPPPP
      PPPPPPPPPPPPPPPPPP
      PPPPPPPP
      PPPPPPPPPPPPPPPPPPP
      PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
      PPPPPPPPPP </p>
  </div>
  <div class="col-md-4">
    <h3>RolZ 2 </h3>
    <p>PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP </p>
  </div>
  <div class="col-md-4">
    <h3>RolZ 3 </h3>
    <p>PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP </p>
  </div>
</div>

